django>2
channels
locked_dict
opencv-python-headless>=4,!=4.1.2.30
Pillow
scikit-image
tqdm
numpy
python-bidi
edit_distance
xlsxwriter
lxml
protobuf
djangorestframework
djangorestframework-jwt
prettytable
ezodf
cryptography
mashumaro
unidecode
pdf2image
dataclasses-json
scikit-learn
