django==3.2.7
channels
locked_dict
opencv-python-headless==4.2.0.32
Pillow
scikit-image
tqdm
numpy
python-bidi
edit_distance
xlsxwriter
lxml
protobuf
djangorestframework
djangorestframework-jwt
prettytable
ezodf
cryptography
mashumaro==3.1
unidecode
pdf2image
dataclasses-json==0.5.5
scikit-learn
h5py<3.0.0
midiutil
scipy
dataclasses
matplotlib
six
attrs
requests
openpyxl
symspellpy
torch
-e git+https://github.com/githubharald/CTCWordBeamSearch.git@master#egg=word-beam-search
-e git+https://github.com/githubharald/CTCDecoder.git@master#egg=ctc-decoder
edlib
-e git+https://github.com/Gawajn/nautilus.git#egg=nautilus-ocr
beautifulsoup4
loguru