django>2
channels
locked_dict
opencv-python>=4
Pillow
scikit-image
tqdm
numpy
python-bidi
edit_distance
xlsxwriter
lxml
protobuf
djangorestframework
djangorestframework-jwt
prettytable
ezodf
cryptography
mashumaro
