{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
    <app-root>
        <div class="screen-center">
            <h1>ommr4all</h1>
            <div class="loader">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
            <h4>{% trans "Loading ..." %}</h4>
        </div>
    </app-root>

    <script type="text/javascript" src="{% static ommr4all_client|add:'/runtime-es5.js' %}"></script>
    <script type="text/javascript" src="{% static ommr4all_client|add:'/polyfills-es5.js' %}"></script>
    <script type="text/javascript" src="{% static ommr4all_client|add:'/styles-es5.js' %}"></script>
    <script type="text/javascript" src="{% static ommr4all_client|add:'/vendor-es5.js' %}"></script>
    <script type="text/javascript" src="{% static ommr4all_client|add:'/main-es5.js' %}"></script>

{% endblock %}