{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
  <app-root>Loading the app...</app-root>

  <script type="text/javascript" src="{% static 'ommr4all-client/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'ommr4all-client/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'ommr4all-client/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'ommr4all-client/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'ommr4all-client/main.js' %}"></script>

{% endblock %}